{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.title}}</title>
    <link rel="stylesheet" href="{% static 'css\bootstrap.css' %}">
    <script src="{% static 'js\script.js' %}"></script>
</head>
<body style = " background-color:rgb(194, 189, 221)">
   
     <form>

        

        <div class="container"> 
            <div>
                <a href="/myapp/">Home</a> |
                <a href="/admin/">Admin</a> |
                <a href="/myapp/contact/">Contact</a> |
                <a href="/myapp/about/">About</a> |
    
            </div>
                <h1>Contact</h1>
            <button class="btn btn-primary" type="submit" onclick="Welcome();">Love</button>  
            <input class="btn btn-success" type="button" value="Love me" onclick="Welcome();"> 
            <a class="btn btn-warning" href="#" onclick="Welcome();">Tumi kake valobasho</a>              
        </div>
        
     </form>  

</body>
</html>

