
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img\icon.jpg' %}">
    <title> {{data.title}} </title>
    <link rel="stylesheet" href="{% static 'css\bootstrap.css' %}">
    <script src="{% static 'js\script.js' %}"></script>
</head>
<body>
    
    
    

     <form>
         <div class="container">
            <nav class="navbar navbar-expand-lg  navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/myapp/"> Home </a> 
                    <a class="navbar-brand" href="/admin/"> Admin </a> 
                    <a class="navbar-brand" href="/myapp/contact/"> Contact </a> 
                    <a class="navbar-brand" href="/myapp/about/"> About </a> 
                </div>
            </nav>
            <h1>This is my Website</h1>
             <img class="rounded-circle z-depth-2" src="{% static 'img\profile1.jpg' %}" alt="no image" width="100px" height="100px">

             <table class="table table-striped">
                 <tr class="table-dark">
                     <td>Id</td>
                     <td>Name</td>
                     <td>Email Address</td>
                     <td>Phone Number</td>
                 </tr>
                 <!--variable express-->
                 {%for std in students %}             
                 <tr>
                    <td>{{std.id}}</td>     <!--variable tag-->
                    <td>{{std.name}}</td>
                    <td>{{std.email}}</td>
                    <td>{{std.phone}}</td>
                </tr>
                 {% endfor %}
                 <!--variable express-->
             </table>
             <p>

                This programe developed by {{ data.author }}    
             </p>
         </div>
        
     </form>
</body>
</html>