{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}
   

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <a href="#" class="btn btn-primary">Add New Record</a>
        <hr>
        
        <table>
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Email</th>
                    <th>Date of Birth</th>
                    <th>Salary</th>
                    <th>Photo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
                {% for emp in object_list  %}
                    <tr>
                        <td>{{ emp.id }}</td>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.email }}</td>
                        <td>{{ emp.dob }}</td>
                        <td>{{ emp.salary }}</td>
                        <td>{{ emp.photo }}</td>
                        <td> </td>
                    </tr>
                {% endfor %}
                    
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </form>
{% endblock content %}
    