{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock%}
{% block stylesheet %}{% endblock%}
{% block content %}

<form action="" method="POST">
{% csrf_token %}
<div class="card mt-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ heading }}</h5>
      {% load crispy_forms_tags %}
      {{ form|crispy }}
      
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
      
      <a href="{% url 'home' %}" class="btn btn-primary mt-3">Go Home</a>
    </div>
  </div>


</form>

{% endblock%}
